@model IEnumerable<MobileProviderSystem.Models.Entities.User>
@{
    ViewData["Title"] = "Панель администратора";
}

<link rel="stylesheet" href="~/css/contactsStyle.css">
<link rel="stylesheet" href="~/css/adminPanelStyle.css">
<script src="~/js/adminPanelFunction.js"></script>

<table id="Table">

    <caption><h2>Пользователи приложения</h2></caption>

    <thead>
    
    <tr>
        <th>ФИО</th>
        <th>Hомер телефона</th>
        <th>Электронная почта</th>
        <th>Роль</th>
    </tr>
    
    </thead>

    <tbody>
    
    @foreach (var user in Model)
    {
        <tr>
            <td class="Data" id="@user.Id">@user.Fio</td>
            <td>@("+375")@user.PhoneNumber</td>
            <td>@user.Email</td>
            <td id="@user.AccountId">
                @user.Account.Role.RoleName
                <select id="RoleSelect">
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@user.Id">@role</option>
                    }
                </select>
            </td>
        </tr>
    }

    </tbody>

</table>

<div id="AdditionalTask" class="Modal">
        <div id="AdditionalTaskModal">
            <h2>Удалить запись?</h2>
            <span id="Yes">Да</span>
            <span id="No">Нет</span>
        </div>
    </div>
    